USE [master]
GO
/****** Object:  Database [sd_73]    Script Date: 7/21/2025 11:18:37 PM ******/
CREATE DATABASE [sd_73]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sd_73', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\sd_73.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sd_73_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\sd_73_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE Vietnamese_CI_AS
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sd_73].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sd_73]
GO
USE [sd_73]
GO
/****** Object:  Sequence [dbo].[hibernate_sequence]    Script Date: 7/21/2025 11:18:37 PM ******/
CREATE SEQUENCE [dbo].[hibernate_sequence] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[account]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[email] [varchar](255) COLLATE Vietnamese_CI_AS NOT NULL,
	[password] [varchar](255) COLLATE Vietnamese_CI_AS NOT NULL,
	[birth_day] [datetime2](7) NULL,
	[create_date] [datetime2](7) NULL,
	[update_date] [datetime2](7) NULL,
	[is_non_locked] [bit] NOT NULL,
	[role_id] [bigint] NULL,
	[customer_id] [bigint] NULL,
	[employee_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[address_shipping]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address_shipping](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NULL,
	[tinh_thanh] [nvarchar](100) COLLATE Vietnamese_CI_AS NULL,
	[quan_huyen] [nvarchar](100) COLLATE Vietnamese_CI_AS NULL,
	[xa_phuong] [nvarchar](100) COLLATE Vietnamese_CI_AS NULL,
	[address_detail] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[is_default] [bit] NULL,
	[create_date] [datetime2](7) NULL,
	[update_date] [datetime2](7) NULL,
	[address] [nvarchar](150) COLLATE Vietnamese_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[amount] [float] NULL,
	[billing_address] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[code] [varchar](50) COLLATE Vietnamese_CI_AS NOT NULL,
	[create_date] [datetime2](7) NULL,
	[invoice_type] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[promotion_price] [float] NOT NULL,
	[return_status] [bit] NULL,
	[status] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[update_date] [datetime2](7) NULL,
	[customer_id] [bigint] NULL,
	[discount_code_id] [bigint] NULL,
	[payment_method_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill_detail]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_detail](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[moment_price] [float] NULL,
	[quantity] [int] NULL,
	[return_quantity] [int] NULL,
	[bill_id] [bigint] NULL,
	[product_detail_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill_return]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_return](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[is_cancel] [bit] NOT NULL,
	[percent_fee_exchange] [int] NULL,
	[return_date] [datetime2](7) NULL,
	[return_money] [float] NULL,
	[return_reason] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[return_status] [int] NOT NULL,
	[bill_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brand]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[name] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[status] [int] NOT NULL,
	[delete_flag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_date] [datetime2](7) NULL,
	[quantity] [int] NOT NULL,
	[update_date] [datetime2](7) NULL,
	[account_id] [bigint] NULL,
	[product_detail_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[name] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[status] [int] NOT NULL,
	[delete_flag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[color]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[color](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[name] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[delete_flag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[name] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[email] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[phone_number] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[birth_day] [datetime2](7) NULL,
	[gender] [bit] NULL,
	[cccd] [varchar](20) COLLATE Vietnamese_CI_AS NULL,
	[tinh_thanh] [nvarchar](100) COLLATE Vietnamese_CI_AS NULL,
	[quan_huyen] [nvarchar](100) COLLATE Vietnamese_CI_AS NULL,
	[xa_phuong] [nvarchar](100) COLLATE Vietnamese_CI_AS NULL,
	[so_nha] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[is_guest] [bit] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discount_code]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discount_code](
	[id] [bigint] NOT NULL,
	[code] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[delete_flag] [bit] NOT NULL,
	[detail] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[discount_amount] [float] NULL,
	[end_date] [datetime2](7) NULL,
	[maximum_amount] [int] NULL,
	[maximum_usage] [int] NULL,
	[minimum_amount_in_cart] [float] NULL,
	[percentage] [int] NULL,
	[start_date] [datetime2](7) NULL,
	[status] [int] NOT NULL,
	[type] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[name] [nvarchar](255) COLLATE Vietnamese_CI_AS NOT NULL,
	[email] [varchar](255) COLLATE Vietnamese_CI_AS NOT NULL,
	[phone_number] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[birth_day] [datetime2](7) NULL,
	[gender] [bit] NULL,
	[cccd] [varchar](20) COLLATE Vietnamese_CI_AS NULL,
	[tinh_thanh] [nvarchar](100) COLLATE Vietnamese_CI_AS NULL,
	[quan_huyen] [nvarchar](100) COLLATE Vietnamese_CI_AS NULL,
	[xa_phuong] [nvarchar](100) COLLATE Vietnamese_CI_AS NULL,
	[so_nha] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_date] [datetime2](7) NULL,
	[file_type] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[link] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[name] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[update_date] [datetime2](7) NULL,
	[product_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[material]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[material](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[name] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[status] [int] NOT NULL,
	[delete_flag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[amount] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[order_id] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[order_status] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[payment_date] [datetime2](7) NULL,
	[status_exchange] [int] NULL,
	[bill_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_method]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_method](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) COLLATE Vietnamese_CI_AS NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[create_date] [datetime2](7) NULL,
	[delete_flag] [bit] NOT NULL,
	[describe] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[gender] [int] NOT NULL,
	[name] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[price] [float] NOT NULL,
	[status] [int] NOT NULL,
	[updated_date] [datetime2](7) NULL,
	[brand_id] [bigint] NULL,
	[category_id] [bigint] NULL,
	[material_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_detail]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_detail](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[barcode] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[price] [float] NOT NULL,
	[quantity] [int] NOT NULL,
	[color_id] [bigint] NULL,
	[product_id] [bigint] NULL,
	[size_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_discount]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_discount](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[closed] [bit] NOT NULL,
	[discounted_amount] [float] NULL,
	[end_date] [datetime2](7) NULL,
	[start_date] [datetime2](7) NULL,
	[product_detail_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[return_detail]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[return_detail](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[moment_price_refund] [float] NULL,
	[quantity_return] [int] NULL,
	[return_id] [bigint] NULL,
	[product_detail_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) COLLATE Vietnamese_CI_AS NOT NULL,
	[create_date] [datetime2](7) NULL,
	[update_date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[size]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[size](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[name] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[delete_flag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[verification_code]    Script Date: 7/21/2025 11:18:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[verification_code](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[expiry_time] [datetime2](7) NULL,
	[account_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([id], [code], [email], [password], [birth_day], [create_date], [update_date], [is_non_locked], [role_id], [customer_id], [employee_id]) VALUES (1, N'TK0001', N'abc@gmail.com', N'$2a$10$qSYJ26q5Fk6XourrT0UuNOPe6TmlIelQL2CL2.g2DZ1xtR1dESMWm', CAST(N'2002-12-12T00:00:00.0000000' AS DateTime2), CAST(N'2023-12-11T00:00:00.0000000' AS DateTime2), CAST(N'2002-12-12T00:00:00.0000000' AS DateTime2), 1, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[account] OFF
GO
SET IDENTITY_INSERT [dbo].[bill] ON 

INSERT [dbo].[bill] ([id], [amount], [billing_address], [code], [create_date], [invoice_type], [promotion_price], [return_status], [status], [update_date], [customer_id], [discount_code_id], [payment_method_id]) VALUES (3, 2050000, NULL, N'HD001', CAST(N'2022-12-05T00:07:26.0407552' AS DateTime2), N'OFFLINE', 0, 0, N'HOAN_THANH', CAST(N'2023-12-05T00:07:26.0407552' AS DateTime2), 1, NULL, 2)
INSERT [dbo].[bill] ([id], [amount], [billing_address], [code], [create_date], [invoice_type], [promotion_price], [return_status], [status], [update_date], [customer_id], [discount_code_id], [payment_method_id]) VALUES (4, 500000, N'', N'HD002', CAST(N'2025-07-21T20:24:03.0650230' AS DateTime2), N'OFFLINE', 0, 0, N'HOAN_THANH', CAST(N'2025-07-21T20:24:03.0650230' AS DateTime2), NULL, NULL, 1)
INSERT [dbo].[bill] ([id], [amount], [billing_address], [code], [create_date], [invoice_type], [promotion_price], [return_status], [status], [update_date], [customer_id], [discount_code_id], [payment_method_id]) VALUES (5, 450000, N'', N'HD003', CAST(N'2025-07-21T20:24:40.9700395' AS DateTime2), N'OFFLINE', 0, 0, N'HOAN_THANH', CAST(N'2025-07-21T20:24:40.9700395' AS DateTime2), NULL, NULL, 3)
SET IDENTITY_INSERT [dbo].[bill] OFF
GO
SET IDENTITY_INSERT [dbo].[bill_detail] ON 

INSERT [dbo].[bill_detail] ([id], [moment_price], [quantity], [return_quantity], [bill_id], [product_detail_id]) VALUES (1, 500000, 1, NULL, 4, 2)
INSERT [dbo].[bill_detail] ([id], [moment_price], [quantity], [return_quantity], [bill_id], [product_detail_id]) VALUES (2, 450000, 1, NULL, 5, 3)
INSERT [dbo].[bill_detail] ([id], [moment_price], [quantity], [return_quantity], [bill_id], [product_detail_id]) VALUES (3, 270000, 1, 1, 6, 1)
SET IDENTITY_INSERT [dbo].[bill_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[bill_return] ON 

INSERT [dbo].[bill_return] ([id], [code], [is_cancel], [percent_fee_exchange], [return_date], [return_money], [return_reason], [return_status], [bill_id]) VALUES (1, N'DT001', 0, 10, CAST(N'2025-07-21T20:26:09.3308373' AS DateTime2), 243000, N'Hàng lỗi', 3, 6)
SET IDENTITY_INSERT [dbo].[bill_return] OFF
GO
SET IDENTITY_INSERT [dbo].[brand] ON 

INSERT [dbo].[brand] ([id], [code], [name], [status], [delete_flag]) VALUES (1, N'NH001', N'Adidas', 1, 0)
INSERT [dbo].[brand] ([id], [code], [name], [status], [delete_flag]) VALUES (2, N'NH002', N'Nike', 1, 0)
SET IDENTITY_INSERT [dbo].[brand] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [code], [name], [status], [delete_flag]) VALUES (1, N'DM001', N'Giày thời trang', 1, 0)
INSERT [dbo].[category] ([id], [code], [name], [status], [delete_flag]) VALUES (2, N'DM002', N'Giày tây', 0, 0)
INSERT [dbo].[category] ([id], [code], [name], [status], [delete_flag]) VALUES (3, N'DM003', N'Giày sandal', 1, 0)
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[color] ON 

INSERT [dbo].[color] ([id], [code], [name], [delete_flag]) VALUES (1, N'M001', N'Màu trắng', 0)
INSERT [dbo].[color] ([id], [code], [name], [delete_flag]) VALUES (2, N'M002', N'Màu đen', 0)
SET IDENTITY_INSERT [dbo].[color] OFF
GO
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([id], [code], [name], [email], [phone_number], [birth_day], [gender], [cccd], [tinh_thanh], [quan_huyen], [xa_phuong], [so_nha], [is_guest], [status]) VALUES (1, N'KH0001', N'Nguyen Van A', NULL, N'0123456786', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 1)
INSERT [dbo].[customer] ([id], [code], [name], [email], [phone_number], [birth_day], [gender], [cccd], [tinh_thanh], [quan_huyen], [xa_phuong], [so_nha], [is_guest], [status]) VALUES (2, N'KH0002', N'Nguyen Van B', NULL, N'0123456789', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 1)
SET IDENTITY_INSERT [dbo].[customer] OFF
GO
SET IDENTITY_INSERT [dbo].[image] ON 

INSERT [dbo].[image] ([id], [create_date], [file_type], [link], [name], [update_date], [product_id]) VALUES (1, CAST(N'2025-07-21T18:56:34.7124530' AS DateTime2), N'image/jpeg', N'uploads/1753098994709_image2.jpg', N'1753098994709_image2.jpg', CAST(N'2025-07-21T18:56:34.7124530' AS DateTime2), 1)
INSERT [dbo].[image] ([id], [create_date], [file_type], [link], [name], [update_date], [product_id]) VALUES (2, CAST(N'2025-07-21T19:58:29.8792906' AS DateTime2), N'image/jpeg', N'uploads/1753102709877_image3.jpg', N'1753102709877_image3.jpg', CAST(N'2025-07-21T19:58:29.8792906' AS DateTime2), 2)
INSERT [dbo].[image] ([id], [create_date], [file_type], [link], [name], [update_date], [product_id]) VALUES (3, CAST(N'2025-07-21T19:58:29.8802913' AS DateTime2), N'image/jpeg', N'uploads/1753102709880_image2.jpg', N'1753102709880_image2.jpg', CAST(N'2025-07-21T19:58:29.8802913' AS DateTime2), 2)
SET IDENTITY_INSERT [dbo].[image] OFF
GO
SET IDENTITY_INSERT [dbo].[material] ON 

INSERT [dbo].[material] ([id], [code], [name], [status], [delete_flag]) VALUES (1, N'CL001', N'Mỏng', 1, 0)
INSERT [dbo].[material] ([id], [code], [name], [status], [delete_flag]) VALUES (2, N'CL002', N'Dày', 1, 0)
SET IDENTITY_INSERT [dbo].[material] OFF
GO
SET IDENTITY_INSERT [dbo].[payment] ON 

INSERT [dbo].[payment] ([id], [amount], [order_id], [order_status], [payment_date], [status_exchange], [bill_id]) VALUES (1, N'500000.0', N'Xv1ORENb', N'1', CAST(N'2025-07-21T20:24:03.1230322' AS DateTime2), 0, 4)
INSERT [dbo].[payment] ([id], [amount], [order_id], [order_status], [payment_date], [status_exchange], [bill_id]) VALUES (2, N'450000.0', N'QQc9s2s6', N'1', CAST(N'2025-07-21T20:24:41.0072817' AS DateTime2), 0, 5)
INSERT [dbo].[payment] ([id], [amount], [order_id], [order_status], [payment_date], [status_exchange], [bill_id]) VALUES (3, N'270000.0', N'VVh9GuJi', N'1', CAST(N'2025-07-21T20:25:15.5512381' AS DateTime2), 0, 6)
SET IDENTITY_INSERT [dbo].[payment] OFF
GO
SET IDENTITY_INSERT [dbo].[payment_method] ON 

INSERT [dbo].[payment_method] ([id], [name], [status]) VALUES (1, N'TIEN_MAT', 1)
INSERT [dbo].[payment_method] ([id], [name], [status]) VALUES (2, N'CHUYEN_KHOAN', 1)
INSERT [dbo].[payment_method] ([id], [name], [status]) VALUES (3, N'THE', 1)
SET IDENTITY_INSERT [dbo].[payment_method] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([id], [code], [create_date], [delete_flag], [describe], [gender], [name], [price], [status], [updated_date], [brand_id], [category_id], [material_id]) VALUES (1, N'SP0001', CAST(N'2025-07-21T18:56:34.7952610' AS DateTime2), 0, N'Giày thời trang mang tính đột phá mới', 1, N'Giày Adidas', 300000, 1, CAST(N'2025-07-21T18:56:34.7952610' AS DateTime2), 1, 1, 1)
INSERT [dbo].[product] ([id], [code], [create_date], [delete_flag], [describe], [gender], [name], [price], [status], [updated_date], [brand_id], [category_id], [material_id]) VALUES (2, N'SP0002', CAST(N'2025-07-21T19:58:29.8954719' AS DateTime2), 0, N'', 1, N'Giày Air Force 1', 450000, 1, CAST(N'2025-07-21T19:58:29.8954719' AS DateTime2), 2, 1, 2)
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[product_detail] ON 

INSERT [dbo].[product_detail] ([id], [barcode], [price], [quantity], [color_id], [product_id], [size_id]) VALUES (1, N'768667474871', 300000, 1000, 1, 1, 1)
INSERT [dbo].[product_detail] ([id], [barcode], [price], [quantity], [color_id], [product_id], [size_id]) VALUES (2, N'644796719356', 500000, 999, 1, 2, 1)
INSERT [dbo].[product_detail] ([id], [barcode], [price], [quantity], [color_id], [product_id], [size_id]) VALUES (3, N'957598382900', 450000, 1999, 2, 2, 2)
SET IDENTITY_INSERT [dbo].[product_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[product_discount] ON 

INSERT [dbo].[product_discount] ([id], [closed], [discounted_amount], [end_date], [start_date], [product_detail_id]) VALUES (1, 0, 270000, CAST(N'2025-07-31T07:00:00.0000000' AS DateTime2), CAST(N'2025-07-21T07:00:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[product_discount] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([id], [name], [create_date], [update_date]) VALUES (1, N'ROLE_ADMIN', NULL, NULL)
INSERT [dbo].[role] ([id], [name], [create_date], [update_date]) VALUES (2, N'ROLE_EMPLOYEE', NULL, NULL)
INSERT [dbo].[role] ([id], [name], [create_date], [update_date]) VALUES (3, N'ROLE_USER', NULL, NULL)
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET IDENTITY_INSERT [dbo].[size] ON 

INSERT [dbo].[size] ([id], [code], [name], [delete_flag]) VALUES (1, N'KC001', N'36', 0)
INSERT [dbo].[size] ([id], [code], [name], [delete_flag]) VALUES (2, N'KC002', N'37', 0)
INSERT [dbo].[size] ([id], [code], [name], [delete_flag]) VALUES (3, N'KC003', N'38', 0)
SET IDENTITY_INSERT [dbo].[size] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__account__357D4CF913F1C6D4]    Script Date: 7/21/2025 11:18:37 PM ******/
ALTER TABLE [dbo].[account] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[address_shipping] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[customer] ADD  DEFAULT ((0)) FOR [is_guest]
GO
ALTER TABLE [dbo].[customer] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[employee] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD  CONSTRAINT [FK_account_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[account] CHECK CONSTRAINT [FK_account_customer]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD  CONSTRAINT [FK_account_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employee] ([id])
GO
ALTER TABLE [dbo].[account] CHECK CONSTRAINT [FK_account_employee]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD  CONSTRAINT [FK_account_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[account] CHECK CONSTRAINT [FK_account_role]
GO
ALTER TABLE [dbo].[address_shipping]  WITH CHECK ADD  CONSTRAINT [FK_shipping_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[address_shipping] CHECK CONSTRAINT [FK_shipping_customer]
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD  CONSTRAINT [FK_bill_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [FK_bill_customer]
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD  CONSTRAINT [FK_bill_discount] FOREIGN KEY([discount_code_id])
REFERENCES [dbo].[discount_code] ([id])
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [FK_bill_discount]
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD  CONSTRAINT [FK_bill_payment] FOREIGN KEY([payment_method_id])
REFERENCES [dbo].[payment_method] ([id])
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [FK_bill_payment]
GO
ALTER TABLE [dbo].[bill_detail]  WITH CHECK ADD  CONSTRAINT [FK_billdetail_bill] FOREIGN KEY([bill_id])
REFERENCES [dbo].[bill] ([id])
GO
ALTER TABLE [dbo].[bill_detail] CHECK CONSTRAINT [FK_billdetail_bill]
GO
ALTER TABLE [dbo].[bill_detail]  WITH CHECK ADD  CONSTRAINT [FK_billdetail_product_detail] FOREIGN KEY([product_detail_id])
REFERENCES [dbo].[product_detail] ([id])
GO
ALTER TABLE [dbo].[bill_detail] CHECK CONSTRAINT [FK_billdetail_product_detail]
GO
ALTER TABLE [dbo].[bill_return]  WITH CHECK ADD  CONSTRAINT [FK_billreturn_bill] FOREIGN KEY([bill_id])
REFERENCES [dbo].[bill] ([id])
GO
ALTER TABLE [dbo].[bill_return] CHECK CONSTRAINT [FK_billreturn_bill]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK_cart_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK_cart_account]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK_cart_product_detail] FOREIGN KEY([product_detail_id])
REFERENCES [dbo].[product_detail] ([id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK_cart_product_detail]
GO
ALTER TABLE [dbo].[image]  WITH CHECK ADD  CONSTRAINT [FK_image_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[image] CHECK CONSTRAINT [FK_image_product]
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD  CONSTRAINT [FK_payment_bill] FOREIGN KEY([bill_id])
REFERENCES [dbo].[bill] ([id])
GO
ALTER TABLE [dbo].[payment] CHECK CONSTRAINT [FK_payment_bill]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_brand]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_category]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_material] FOREIGN KEY([material_id])
REFERENCES [dbo].[material] ([id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_material]
GO
ALTER TABLE [dbo].[product_detail]  WITH CHECK ADD  CONSTRAINT [FK_product_detail_color] FOREIGN KEY([color_id])
REFERENCES [dbo].[color] ([id])
GO
ALTER TABLE [dbo].[product_detail] CHECK CONSTRAINT [FK_product_detail_color]
GO
ALTER TABLE [dbo].[product_detail]  WITH CHECK ADD  CONSTRAINT [FK_product_detail_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[product_detail] CHECK CONSTRAINT [FK_product_detail_product]
GO
ALTER TABLE [dbo].[product_detail]  WITH CHECK ADD  CONSTRAINT [FK_product_detail_size] FOREIGN KEY([size_id])
REFERENCES [dbo].[size] ([id])
GO
ALTER TABLE [dbo].[product_detail] CHECK CONSTRAINT [FK_product_detail_size]
GO
ALTER TABLE [dbo].[product_discount]  WITH CHECK ADD  CONSTRAINT [FK_product_discount_detail] FOREIGN KEY([product_detail_id])
REFERENCES [dbo].[product_detail] ([id])
GO
ALTER TABLE [dbo].[product_discount] CHECK CONSTRAINT [FK_product_discount_detail]
GO
ALTER TABLE [dbo].[return_detail]  WITH CHECK ADD  CONSTRAINT [FK_return_detail_product] FOREIGN KEY([product_detail_id])
REFERENCES [dbo].[product_detail] ([id])
GO
ALTER TABLE [dbo].[return_detail] CHECK CONSTRAINT [FK_return_detail_product]
GO
ALTER TABLE [dbo].[return_detail]  WITH CHECK ADD  CONSTRAINT [FK_return_detail_return] FOREIGN KEY([return_id])
REFERENCES [dbo].[bill_return] ([id])
GO
ALTER TABLE [dbo].[return_detail] CHECK CONSTRAINT [FK_return_detail_return]
GO
ALTER TABLE [dbo].[verification_code]  WITH CHECK ADD  CONSTRAINT [FK_verification_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[verification_code] CHECK CONSTRAINT [FK_verification_account]
GO
USE [master]
GO
